.steps {
  width: 25%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #898886;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #898886;
  }

  .step-container {
    cursor: pointer;

    span {
      font-weight: 500;
      margin-inline: 17px;
    }
  }

  .step-line {
    height: 2px;
    width: 54px;
    background-color: #898886;
  }

  .active-step {
    border-color: #0aad0a !important;
    color: #0aad0a !important;
  }

  .active-step-line {
    background-color: #0aad0a !important;
  }

  .active-step-title {
    color: #0c770c !important;
  }
}
