<section>

    <div class="steps d-flex justify-content-center align-items-center">
    <div class="row step-container active-step d-flex flex-column gap-4 align-items-center">
      <div class="contain-title d-flex align-items-center">
        <div class="step active-step col-md-6 mx-2" (click)="navigateForgot()">
          01
        </div>
        <div class="step-line active-step-line col-md-6"></div>
      </div>
      <span class="text-black active-step-title">Forgot</span>
    </div>
    <div class="row step-container active-step d-flex flex-column gap-4 align-items-center" >

      <div class="contain-title d-flex align-items-center">
        <div class="step col-md-6 mx-2" (click)="navigateVerify()" [ngClass]="{'active-step': steps == 2 || steps == 3}">02</div>
        <div class="step-line col-md-6" [ngClass]=" {'active-step-line': steps == 3}"></div>
      </div>
      <span class="text-muted"  [ngClass]=" {'active-step-title': steps == 2}">Verify</span>

    </div>
    <div class="row step-container active-step d-flex flex-column gap-4 align-items-center">
      <div class="contain-title d-flex mx-2 align-items-center gap-3" (click)="navigateReset()">
        <div class="step col-md-6 mx-2" [ngClass]=" {'active-step': steps == 3}">03</div>
      </div>
      <span class="text-muted"  [ngClass]=" {'active-step-title': steps == 3}">Reset</span>

    </div>
    </div>

  @if (steps == 1) {
      <!-- Forgot  Password -->
    <div class="container w-75 my-5">
    <h2 class="my-3">Forgot Password:</h2>
    <form [formGroup]="forgotPassword" (ngSubmit)="submitStep1()" class="my-5">
      <input
        [ngClass]="{
          'is-valid':
            !forgotPassword.get('email')?.errors &&
            (forgotPassword.get('email')?.touched ||
              forgotPassword.get('email')?.dirty),
          'is-invalid':
            forgotPassword.get('email')?.errors &&
            (forgotPassword.get('email')?.touched ||
              forgotPassword.get('email')?.dirty)
        }"
        formControlName="email"
        type="email"
        class="form-control my-3"
        placeholder="Type Your Email..."
      />
      <alertError [formName]="forgotPassword" controlName="email"></alertError>

      <div class="text-danger mt-3">{{ errorMessage }}</div>
      <div class="my-3 d-flex justify-content-between">
        <button
          [disabled]="forgotPassword.invalid || isBtnSubmit"
          class="btn bg-main text-white px-4 py-2"
        >
          @if (!isBtnSubmit) { Send }@else {
          <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
      </div>
    </form>
  </div>
  }@else if (steps == 2) {
 <!-- Verify Reset Code -->
  <div class="container w-75 my-5">
    <h2 class="my-3">Verify Reset Code:</h2>
    <form [formGroup]="verifyResetCode" (ngSubmit)="submitStep2()" class="my-5">
      <input
        [ngClass]="{
          'is-valid':
            !verifyResetCode.get('resetCode')?.errors &&
            (verifyResetCode.get('resetCode')?.touched ||
              verifyResetCode.get('resetCode')?.dirty),
          'is-invalid':
            verifyResetCode.get('resetCode')?.errors &&
            (verifyResetCode.get('resetCode')?.touched ||
              verifyResetCode.get('resetCode')?.dirty)
        }"
        formControlName="resetCode"
        type="text"
        class="form-control my-3"
        placeholder="Type the resetCode..."
      />
      <alertError
        [formName]="verifyResetCode"
        controlName="resetCode"
      ></alertError>

      <p class="text-main my-2">Note: Verify Code is valid for 10 minutes</p>

      <div class="text-danger mt-3">{{ errorMessage }}</div>
      <div class="my-3 d-flex justify-content-between">
        <button
          [disabled]="verifyResetCode.invalid || isBtnSubmit"
          class="btn bg-main text-white px-4 py-2"
        >
          @if (!isBtnSubmit) { Verify }@else {
          <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
      </div>
    </form>
  </div>
  }@else if(steps == 3) {
    <!-- Reset Password -->
  <div class="container w-75 my-5">
    <h2 class="my-3">Reset Password:</h2>
    <form [formGroup]="resetPassword" (ngSubmit)="submitStep3()" class="my-5">
      <input hidden
        [ngClass]="{
          'is-valid':
            !resetPassword.get('email')?.errors &&
            (resetPassword.get('email')?.touched ||
              resetPassword.get('email')?.dirty),
          'is-invalid':
            resetPassword.get('email')?.errors &&
            (resetPassword.get('email')?.touched ||
              resetPassword.get('email')?.dirty)
        }"
        formControlName="email"
        type="email"
        class="form-control my-3"
        placeholder="Type Your Email..."
      />
      <alertError [formName]="resetPassword" controlName="email"></alertError>
      <input
        [ngClass]="{
          'is-valid':
            !resetPassword.get('newPassword')?.errors &&
            (resetPassword.get('newPassword')?.touched ||
              resetPassword.get('newPassword')?.dirty),
          'is-invalid':
            resetPassword.get('newPassword')?.errors &&
            (resetPassword.get('newPassword')?.touched ||
              resetPassword.get('newPassword')?.dirty)
        }"
        formControlName="newPassword"
        type="password"
        class="form-control my-3"
        placeholder="Type Your New password..."
      />
      <alertError [formName]="resetPassword" controlName="newPassword"></alertError>

      <div class="text-danger mt-3">{{ errorMessage }}</div>
      <div class="my-3 d-flex justify-content-between">
        <button
          [disabled]="resetPassword.invalid || isBtnSubmit"
          class="btn bg-main text-white px-4 py-2"
        >
          @if (!isBtnSubmit) { Reset }@else {
          <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
      </div>
    </form>
  </div>
  }
</section>
